
* {
    margin: 0;
    padding: 0;
    border: 0;
  }

html,body {
    height:100%;
    width:100%;
    margin:0;
  }

body{
    background-color: #DBD8F0;
    color: black;
}
h1{
    margin-top: 20px;
    text-align: center;
}

.contactForm{
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(146, 100, 146);
    width: 50%;
    
}

.projectContainer{
    display: flex;
    justify-content: center;
    
}

.projectContainer img{
    width: 350px;
    display: inline-block;
    margin: 60px 100px 0px 100px;
}

.projectName {
    color: #000;
    visibility: hidden;
    opacity: 0;
    font-size: 36px;

    transition: opacity .2s, visibility .2s;
  }

.imgWrapper{
    text-align: center; 
    margin-left: 10px;
    margin-right: 10px;
}

.imgWrapper:hover .projectName {
    visibility: visible;
    opacity: 1;
  }

.imgWrapper:hover .projectDes {
    visibility: visible;
    opacity: 1;
  }

.projectDes{
    width: 550px;
    border-style: solid;
    border-width: 2px;
    color: #000;
    visibility: hidden;
    opacity: 0;
    font-size: 15px;
    transition: opacity .2s, visibility .2s;
}

.description{
  width: 100%;
  display: flex;
  margin-top: 100px;
  align-content: center;
  text-align: center;

 
}

.description img{
  width: 300px;
 

}

.item{
  flex-grow: 1;
  padding: 10px;
  flex-basis: 0;
}

#internships{
  text-align: center;
  margin-top: 30px;
  background-color: #fff;
}

.container{
  width: 100%;
  display: flex;
  align-content: center;
  text-align: center;
}

.list-group-item{
  background-color: #DBD8F0;
  border-color: #DBD8F0;
}

.btn-primary{
  background-color: #fff;
  color: #000;
  border-color: #000;
  transition: opacity .2s, visibility .2s;
}

.btn-primary:hover{
  background-color: rgb(146, 100, 146);;
  color: #fff;
  border-color: #fff;
  
}

@media screen and (max-width: 768px){

  .projectContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  
  
}




